html {
  scroll-behavior: smooth;
}

p,
span {
  transform: rotate(0.03deg);
}

section {
  width: 100%;
  height: 100vh;
  background-color: yellow;
}

section:nth-child(even) {
  background-color: pink;
}

/* Navbar */

.navbar__logo img {
  position: relative;
  top: 5px;
  width: 30px;
  height: 30px;
}
